*{
    margin: 0;
    padding: 0;
}
.title{
    background-color:rgba(171, 104, 233, 0.836);
    color: white;
    font-weight:600;
    line-height: 40px;
    margin: 10px;
    border:1px solid rgb(95, 94, 94);

}
.copy{
    float: right;
    padding:0 5px;
    background-color:white;
    color:rgb(126, 31, 214);
    cursor: pointer;
    /* margin-top: 5px; */
}
.copy button{
    background-color:white;
    color:rgb(126, 31, 214);
    font-weight: bold;
    border: none;
}
.repalced_word{
    color:black;
}
.homePage{
    height: 50vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    margin-top: 100px;
    margin-bottom: 20px;
}
.homePage h1{
    color:Black;
    padding: 30px;
}